@use "~element-plus/theme-chalk/src/index.scss" as *;

@use "element-plus/table.scss" as *;

:root {
    --el-color-primary: #2f77eb;
    --el-font-weight-primary: normal;
    --el-border-radius-base: 2px;
}
