@font-face {
    font-family: "din";
    font-weight: 100;
    src: url("../fonts/din-light.otf");
}
@font-face {
    font-family: "din";
    font-weight: normal;
    src: url("../fonts/din-regula.otf");
}
@font-face {
    font-family: "din";
    font-weight: bold;
    src: url("../fonts/din-bold.otf");
}
@font-face {
    font-family: "led";
    src: url("../fonts/sa-digital-number.ttf");
}

@font-face {
    font-family: "bebas-neue";
    src: url("../fonts/bebas-neue.otf");
}
